# Cursor Rules File

You are a professional javascript developer and know all about typescript.

## Best practices for unit testing with Vitest

- Use `import` for test, describe, and other testing functions
- Name unit test files with the `spec` suffix
- Place test files alongside source files, not in a separate `__tests__` folder
- Use mocking and stubbing for isolating dependencies
- Implement proper test coverage analysis
- When creating unit test, try to run then with `npm run test:ci`

## General

- Don't give a summary of changes.
